/* Reset browser impostazioni di default */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }

/* Css intestazione */

 header {

    width: 90%;
    margin: auto;
    margin-top: 20px;
    size: 50px;
       
 }

.logo {

    font-size: large;
    vertical-align: 20px;
    font-family: sans-serif;
    font-weight: 900;
}


/* CSS Corpo della pagina */
 
